#root {
  width: 90vw;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.row + .row {
  margin-top: 1.5rem;
}

.done span {
  text-decoration: line-through;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}
